<div class="container">
    <div class="row">
        <div class="col-sm-12 center-login">
            <div class="col-sm-4 login-border">
                <h5>Login</h5>
                <form>
                    <div class="form-group">
                        <input #username class="form-control form-control-sm" type="text" id="username"
                            placeholder="username">
                        <input #password class="form-control form-control-sm" type="password" id="password"
                            placeholder="password" autocomplete="on">
                    </div>
                    <div>
                        <button (click)="login(username.value, password.value)" type="submit"
                            class="btn btn-primary btn-sm col-sm-12">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>