.center-login {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-border {
    border: 0.1vw solid rgb(245, 245, 245);
    background-color: #f1f1f1;
    padding-top: 1vw;
    border-radius: 2%;
}